@import "tailwindcss";
@import './utils';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #9591ff;
  --primary-darker: #8f8cbf;
  --gray: #c9c9c9;
  --gray-darker: #898989;
  --color: rgba(0, 0, 0, 0.87);
  --placeholder: #6d6d6d;
  --error: #c03d3d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #8c88fa;
    --primary-darker: #8f8cbf;
    --gray: #c9c9c9;
    --gray-darker: #b2b2b2;
    --color: rgba(228, 228, 228, 0.87);
    --placeholder: #6d6d6d;
    --error: #c03d3d;
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] max-w-[1000px] mx-auto px-3 md:px-8 sm:py-5 py-3 lg:px-0;
}